name: Build and Push to Docker Hub

on:
  push:
    branches: [main]
    paths:
      - 'backend/**'  

jobs:
  build-and-push:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEND }}

    
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USER}}/ecomerse_backend


      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./backend/WebApi
          file: ./backend/WebApi/Dockerfile

          context: .                     
          file: ./Dockerfile              
          push: true                      
          tags: ${{ steps.meta.outputs.tags }} 
          labels: ${{ steps.meta.outputs.labels }}

